<!DOCTYPE html>
<html ng-app='movieSearch'>
<head>
  <meta charset='utf-8'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js" type="text/javascript"></script>
  <script src='./js/app.js'></script>
  <script src='./js/controllers.js'></script>
  <script src='./js/directives.js'></script>
  <script src='./js/filters.js'></script>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h1 class='title'>Angular OMDb API Search</h1>
  <h3 class='subtitle'>Enter a movie by title.</h3>
  <div class='movieDisplay' ng-controller='getMovies as GM'>
  <input class='searchBar' type='text' ng-model='searchBar' placeholder='enter title here'>
  <button type='submit' ng-click='GM.retrieve(searchBar)'>Search!</button>
  <div>
    <p class='successMsg' ng-show='searchBar'>
      There were {{GM.movieArr.length}} movies found!<br>
      Click one to find out more.
    </p>
    <!-- <ul>
      <li ng-repeat='movie in GM.movieArr'>
        {{movie.Title}}

      </li>
    </ul> -->
  </div>
    <table class='movieTable' ng-controller='popUp as PU'>
      <tr ng-repeat='movie in GM.movieArr' ng-click='PU.retrieve(movie.Title)' ng-class="{'expanded': PU.selectedIndex > 0}">
        <td>
          <span class='movieTitle'>{{movie.Title}}</span><br>
          Type: {{movie.Type}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IMDb ID: {{movie.imdbID}}<br>
          <p class='detailedDescription' ng-show="PU.selectedIndex > 0">Metascore: {{PU.movieArr[0].Metascore}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{PU.movieArr[0].Runtime}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{PU.movieArr[0].Genre}}<br>Actors: {{PU.movieArr[0].Actors}} <br>Producer: {{PU.movieArr[0].Production}} Rated: {{PU.movieArr[0].Rated}} Writer: {{PU.movieArr[0].Writer}} Director: {{PU.movieArr[0].Director}}<br><br>
          <span class='plot'>{{PU.movieArr[0].Plot}}</span>
        </p>
        </td>
        <td>
          {{movie.Year}}
        </td>
        <td>
          <img class='thumb' ng-src={{movie.Poster}} alt='#'>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
